.main {
        display: flex;
        justify-content: center;
        align-items: center;
}
.container{
        width: 50%;
        border: solid 2px #5fa2dd ;
        z-index : 1;
}
.header{
        padding : 10px;
        background-color : #5fa2dd;
        color: white ; 
        display : flex;
        justify-content : space-between ; 
}
.icons {
        margin : 0!important;
}
.content{
        padding : 30px;
}
input{
        width : 100%;
        outline: none;
        margin-bottom : 20px;
        flex : 1;
        outline : none;
        padding: 3px;
}
select {
        outline : none ;
        height : 30px;
        margin-bottom : 20px;
}
        
button {
        padding: 10px;
        padding-left : 20px;
        padding-right : 20px;
        background-color : #5fa2dd;
        color : #fff;
        border : none ;
        outline :none;
        margin-left : 10px
}
.items{
        display : flex ;
}
.item{
        flex : 1 ;
        justify-content : space-between ;
}
select {
    width : 100%;
}
.time{
    display : flex ;
}
.selectType{
        display : flex ; 
        background-color : #f6f6f6;
        padding : 5px ;
        padding-top : 10px;
        position : relative;
        border : solid 1px grey;
}
.typeTitle {
        position : absolute ;
        top : -12px ;
        color :grey;
        font-size : 14px;
        background-color : white;
}
.display {
        display: flex
}

input {
        width:100%;
}
button {
        height:30px;
}

.status {
        display : flex ;
        justify-content : space-between;
}
            
.statusSelect{
        display : flex;
}
.date {
        margin-right: 10px;
}
.active{
        width: 15px;
        height: 15px;
}